* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow: hidden; */
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;

}

nav{
  width: 100%;
  padding: 2vw 2vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-part2{
  display: flex;
  align-items: center;
  gap: 1vw;
}
#nav-part2 h4{
  position: relative;
  padding: 10px 20px;
  border: 1px solid rgba(124, 118, 118, 0.514);
  border-radius: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.76);
  font-size: 18px;
  cursor: pointer;
}

#nav-part2 h4::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100;
}
#nav-part2 h4:hover::after{
   

}
